{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- oh wow this is cool omg http://twitter.github.io/bootstrap/components.html#navs -->
	<div class="jumbotron">
		<h1></h1>
		<p class="lead">
			Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		</p>
	</div>

	<hr>

	<div class="row-fluid marketing">
		<div class="span6">
			<h4>More power!</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

			<h4>More fitness!</h4>
			<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

			<h4>Faster responses!</h4>
			<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		</div>

		<div class="span6">
			<h4>More right side!</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

			<h4>Stuff</h4>
			<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

			<h4>Stuff</h4>
			<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		</div>
	</div>

{% endblock %}
